<html>
<head>
    <title>MQTT Broadcast Bridge</title>

    <link type="text/css" rel="stylesheet" href="/css/bootstrap">
</head>
<body>
<div class="container">
    <a href="/" style="color: #000;"><h1>MQTT Broadcast Bridge - Konfiguration</h1></a>
    {% block content %}{% endblock %}
</div>
</body>
</html>