{% extends 'base.j2' %}

{% block content %}
    <h2 style="margin-bottom: 0"><b>{{ short_description }}</b> <small>{{ module_name }} ({{ module }})</small></h2>
    <small>{{ uid }}</small>
    <br>
    <br>
    <h3>Konfiguration</h3>
    <dl class="row">
    {% for element in config %}
        <dt class="col-sm-3">{{ element.title }}</dt>
        <dd class="col-sm-9">{{ config_values[element.name] }}</dd>
    {% endfor %}
    </dl>
    <h3>Topics</h3>
    <span>Prefix: <code>{{ path_prefix }}</code></span>
    <table class="table table-sm table-hover">
    <thead>
    <tr>
        <th style="text-align: left">Topic</th>
        <th style="text-align: left">Name</th>
        <th style="text-align: left">Beschreibung</th>
    </tr>
    </thead>
    <tbody>
    {% for path in paths %}
        <td><code>{{ path.path }}</code></td>
        <td>{{ path.name }}</td>
        <td>{{ path.description }}</td>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}